/* page.css */

.home-container {
    
    overflow-y: auto;
    background-color: transparent; /* Match your background color */
  }
  
  .game-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .release-date {
    font-size: 16px;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 80%;
    color: white;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .play-button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .play-button:hover {
    color: orange;
    background: white;
  }
  
  .price {
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
  
  .availability {
    margin-top: 20px;
    font-size: 14px;
    color: black;
  }
  
  .platform {
    font-weight: bold;
    color: #000;
    margin-left: 5px;
  }
  
  /* .friends-playing {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
} */

.friend-count {
    margin-right: 10px;
    font-weight: bold;
    font-size: 13px;
}

.rating-stars span {
    color: white; /* Star color */
    font-size: 15px;
}